{{ define "main" }}

<article>
    <header>
        <div class="center-text">
            <h1>{{ .Title }}</h1>
            {{ partial "translations.html" . }}
        </div>
        <hr />
        <div id="TOC">
            <div id="TOCHeader">
                <h2>{{ i18n "tableofcontents" }}</h2>
                  <button id="TOC-button" class="hamburger hamburger--minus is-active" type="button">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                  </button>
            </div>
            {{ .TableOfContents }}
        </div>
    </header>
    {{ .Content }}
</article>

{{ partial "metadata.html" . }}
{{ partial "copyright.html" . }}
{{ partial "prev-next.html" . }}

{{ end }}
