@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
@function middle($color1, $color2) {
  @return mix($color1, $color2, 50%);
}

$backgroundColor: #121212;
$textColor: #c7cccc;
$linkColor: #8be9fd;
$secondaryColor: #222129; // Background of Code

* {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    direction: ltr;
    font-variant-ligatures: no-common-ligatures;
}

code,
code * {
    font-family: "Source Code Pro", 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 1em;
}

article > pre {
    border-left: 0.2em solid $textColor;
    padding-left: 0.5em;
    background-color: $secondaryColor;
    overflow: auto;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1.5em;
    text-decoration: underline;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: $textColor;
    text-decoration: none;
}

header > .center-text {
    margin: 3%;
}

a {
    color: $linkColor;
}

body {
    margin-top: 3em;
    background-color: $secondaryColor;
    color: $textColor;
}

.li-vertical {
    display: block;
}

#postrange {
    list-style-type: none;
    padding-left: 0;
}

#postrange li {
    margin-bottom: 0.75em;
}

.hoverNote {
    position: absolute;
    background-color: $textColor;
    color: $backgroundColor;
    left: 1em;
    margin: 0;
    bottom: 0.5em;
    min-width: 15em;
    padding: 0 1em;
    border: 0.25em solid middle($backgroundColor, $textColor);
    visibility: hidden;
}

.hoverNote a {
    color: shade($linkColor, 33%);
}

.footnote-ref {
    font-weight: bold;
    padding: 0.3em;
}

.metadata {
    font-size: small;
}

#translations {
    font-size: small;
}

#content {
    width: 66%;
    margin: 0 auto;
    padding: 1.5% 5%;
    border: 0.15em solid $textColor;
    background-color: $backgroundColor;
}

#header {
    margin-bottom: 1%;
}

nav a {
    margin: 0 5%;
}

.center-text {
    margin: 0 auto;
    text-align: center;
}

.highlight,
article > pre {
    width: 80%;
    margin: 0 auto;
}

.footnotes ol::before {
    content: "Footnotes:";
}

blockquote {
    border-left: 0.2em solid $textColor;
    padding-left: 10px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    margin: 0 auto;
}

table td,
table th {
    border: 1px solid;
    text-align: left;
    padding: 0.1em 0.5em;
}

table th {
    border-bottom: 2px solid;
}

tr:nth-child(2n) {
    background-color: tint($backgroundColor, 5%);
}

.margin-center {
    text-align: center;
}

#footer {
    margin-top: 1%;
    font-size: small;
}

#copyright {
    text-align: center;
}

#copyright-link {
    text-decoration: none;
}

.cc-copyright-icon {
    width: 1em;
    font-style: unset;
    margin: 0 auto;
}

#next-prev {
    font-size: small;
    width: 33%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
}

.next-prev-span {
    margin: 0 auto;
}

@media screen and (min-width: 1400px) {
    #TOC {
        max-width: 33%;
    }
}

#TOC {
    border: 0.075em solid $textColor;
    padding: 1em;
    margin: 1em 0;
    overflow: auto;
}

#TableOfContents ul {
    list-style: decimal;
    margin: 0;
}

#TableOfContents ul ul {
    list-style: lower-alpha;
}

#TableOfContents a {
    margin: 0;
}

#TOCHeader > h2 {
    margin: 0;
    text-decoration: none;
    display: inline;
}

#TOCHeader {
    display: flex;
    justify-content: space-between;
}

#TOC-button {
    outline: none;
}

nav#TableOfContents {
    display: none;
}

@import "native.scss";
.chroma .hl { background-color: shade(#9d5024, 15%); }
.chroma .lnt { color: shade($textColor, 10%) }
.chroma { color: $textColor; background-color: $secondaryColor; }
.chroma .c1 { color: tint(#6272a4, 33%); }

$hamburger-padding-x           : 0px;
$hamburger-padding-y           : 0px;
$hamburger-layer-width         : 1.5em;
$hamburger-layer-height        : 0.125em;
$hamburger-layer-spacing       : 0.3125em;
$hamburger-layer-color         : $textColor;
$hamburger-hover-opacity       : 1;

$hamburger-types: (
  minus
);

@import "hamburgers/hamburgers.scss";